$bg-color: #121212;
$bg-color-t: rgb(18 18 18 / 50%);
$bg-color-s: #202020;

$c-text: #ddd;
$c-text-highlight: #fff;
$c-text-primary: hsl(300, 100%, 80%);
$c-text-secondary: hsl(120, 73%, 90%);

$c-primary: hsl(300, 100%, 40%);
$c-primary-highlight: hsl(300, 100%, 50%);
$c-primary-disabled: hsl(300, 100%, 30%);

$c-secondary: hsl(120, 73%, 75%);
$c-secondary-highlight: hsl(120, 73%, 85%);
$c-secondary-disabled: hsl(120, 73%, 65%);

$c-error: hsl(9, 100%, 64%);